<div class="container mt-5 pt-5">
  <% if flash.any? %>
    <div class="row">
      <div class="col-md-6 offset-3">
        <div class="alert alert-success" role="alert">
          <% flash.each do |type, msg| %>
            <p><%= msg %></p>
          <% end %>
        </div>
      </div>
    </div> 
  <% end %>

  <div data-controller="sessions">
    <div class="row">
      <div class="col-md-6 offset-3">
        <div class="card">
          <div class="card-body">
            <%= form_with(url: sessions_path, method: :post) do |f| %>

              <div class="mb-3">  
                <%= f.label :email, class: 'form-label' %>
                <%= f.email_field :email, class: 'form-control', data: { 'sessions-target' => "email", action: "focusout->sessions#validateEmail" } %>
                <div class="invalid-feedback">
                  Invalid email, Maybe you need to add @.
                </div>
              </div>

              <div class="mb-3">
                <%= f.label :password, class: 'form-label' %>
                <%= f.password_field :password, class: 'form-control', data: { 'sessions-target' => "password", action: "focusout->sessions#validatePassword" } %>
                <div class="invalid-feedback">
                  Invalid password length, it needs to be greater that 6.
                </div>
              </div>

              <%= f.submit "Log in", class: "btn btn-primary", data: { 'sessions-target' => "submitButton" } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
